<div class="container my-4">
  <div class="d-flex flex-column flex-md-row gap-4">
    <div class="col-md-6 col-12">
      <img src="images/chia-seeds/1.jpg" alt="" class="img-fluid selected" />
      <div class="position-relative">
        <img src="images/prev-arrow.svg" alt="prev" class="product-images-carousel-arrows product-images-arrow--prev">
        <div class="slider-container mt-3">
          <swiper-container
            id="product-images-swiper-container"
            init="false"
            #swiperContainer
          >
          @for (
            i of [1,2,3,4,5,6,7,8];
            track i;
            let index = $index
          ) {
            <swiper-slide>
              <div class="slider-image">
                <img 
                  src="images/chia-seeds/{{i}}.jpg" 
                  alt="" 
                  class="img-fluid"
                />
              </div>
            </swiper-slide>
          }
          </swiper-container>
        </div>
        <img src="images/next-arrow.svg" alt="next" class="product-images-carousel-arrows product-images-arrow--next">
      </div>
    </div>
    <div class="col-md-6 col-12">
      <h2 class="fw-500 text-xxl mb-2">Purevitr Chia Seeds</h2>
      <p class="text-muted text-sm">Raw and Unroasted Seeds | Protein Rich Superfood | High in Calcium, Fiber & Antioxidants | No Preservatives</p>
      <div class="d-flex align-items-center gap-2">
        <app-star-rating [rating]="4.5"></app-star-rating>
        <p class="m-0 text-xs fw-600">4.5</p>
        <p class="m-0 text-xs fw-600">| 25 Reviews</p>
      </div>
      <div class="my-3">
        <h3 class="fw-600 m-0">&#8377; 2000/- <span class="text-muted text-decoration-line-through">2500</span>
        </h3>
        <span class="text-xs fw-500">MRP (Incl of All taxes)</span> 
      </div>
      <app-variants></app-variants>
      <div>
        <p>Check Estimated Delivery</p>
        <div class="d-flex align-items-center gap-3">
          <app-input
            [control]="utilityService.$formControl(addProductForm.get('review'))"
            placeholder="Enter Pincode"
            class="pincode-input"
          ></app-input>
          <button class="btn btn-bordered">Check</button>
      </div>
      <div class="add_quantity my-3">
        <p>Add Quantity</p>
        <div class="d-flex align-items-center gap-3">
          <button class="btn btn-outline-secondary">-</button>
          <app-input
            [control]="utilityService.$formControl(addProductForm.get('review'))"
            class="quatity-input"
            [readonly]="true"
          ></app-input>
          <button class="btn btn-outline-secondary">+</button>
        </div>
      </div>
      <div>
        <button class="btn btn-primary w-100">Add To Cart</button>
      </div>
    </div>
    </div>
  </div>
  <app-description></app-description>
  <app-reviews></app-reviews>
  <app-related-products></app-related-products>
  <app-faqs></app-faqs>
</div>