@import '../../../../../variables.scss';
.border-red {
    border: 1px solid red !important;
}

input {
    // border-color: map-get($colors, "primary" );
}

.form-control {
    font-size: 17px !important;
}

.password-field {
    position: relative;

    input {
        padding-right: 50px;
    }

}
.eye-icon {
    position: absolute;
    right: 10px;
    top: 20%;
}