<div class="form-group">
  <label>{{ label }} <span *ngIf="required" class="text-danger">*</span></label>
  <img
    *ngIf="tooltip"
    [matTooltip]="tooltip"
    width="12"
    height="12"
    src="images/info_icon.svg"
    class="mx-2"
  />

  <input
    type="file"
    [attr.accept]="accept"
    [multiple]="multiple"
    class="form-control"
    (change)="onFileSelected($event)"
  />

  <div class="mt-2" *ngIf="attachments.length">
    <div
      *ngFor="let file of attachments; let i = index"
      class="d-flex align-items-center justify-content-between border p-2 rounded mb-1"
    >
      <div>
        {{ file.name }}
      </div>
      <div>
        <button
          type="button"
          class="btn btn-sm btn-primary mx-1"
          (click)="previewFile(file)"
        >
          👁 Preview
        </button>
        <button
          type="button"
          class="btn btn-sm btn-danger"
          (click)="removeAttachment(i)"
        >
          ✕ Delete
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isUploading" class="text-info mt-1">Uploading...</div>
</div>
