@import '../../../../../variables.scss';
.input-icon-wrapper {
  position: relative;
}

.input-with-icon {
  padding-left: 2.2rem;
  padding-right: 5rem; 
}

.icon-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.verify-email {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 0.875rem;
  font-weight: 500;
  color: map-get($colors, 'primary');
  cursor: pointer;
  white-space: nowrap;
}

.border-red {
  border: 1px solid red !important;
}

.form-control {
  font-size: 17px !important;
}

.email-verified {
  background-color: #DCFAD8 !important;
  color: #34A853 ;
}

.icon {
  &-verified {
    color: #34A853 ;  
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    .email-verified-icon {
      margin-top: 5px;
    }
  }
  &-error {
    color: red;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    .email-error-icon {
      margin-top: 5px;
    }
  }
}