@import "../../../../../variables";
@import "../../../../../mixins";

.form-check-input {
  &:focus {
    border-color: map-get($colors, "gray");
    @include box-shadow("form-control-gray");
  }
  &:checked {
    background-color: map-get($colors, "primary");
    border-color: map-get($colors, "primary");
  }
}
