@import "./../../../../../mixins";
@import "./../../../../../variables.scss";
.otp-input {
  display: flex;
  justify-content: center;
}

input {
  width: 68px;
  height: 68px;
  font-size: map-get($font-sizes, "base");
  font-weight: 500;
  padding: 12px;
  text-align: center;
  background: transparent;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid map-get($colors, "gray-mid");
  @media (max-width: map-get($breakpoints, "lg")) {
    width: 50px;
    height: 50px;
    font-size: map-get($font-sizes, "base");
  }
}
