<div class="variant-container mb-4">
  <p>Select Variant</p>
  <div class="d-flex align-items-center gap-3 flex-wrap">
    <div class="product-variant">
      <div class="variant-quatity">
        <p class="m-0">200gm</p>
      </div>
      <div class="variant-price">
        <p>&#8377; 2000/-</p>
      </div>
    </div>
    <div class="product-variant selected">
      <div class="variant-quatity selected">
        <p class="m-0">400gm</p>
      </div>
      <div class="variant-price">
        <p>&#8377; 2000/-</p>
      </div>
    </div>
    <div class="product-variant">
      <div class="variant-quatity">
        <p class="m-0">1KG</p>
      </div>
      <div class="variant-price">
        <p>&#8377; 2000/-</p>
      </div>
    </div>
   
  </div>
</div>