<div class="order-cards">
  <div class="d-flex gap-3">
    <div class="img-container">
      <img src="images/flax-seed-front.png" alt="" class="front-img" />
      <!-- <img src="images/flax-seeds-back.png" alt="" class="back-img" /> -->
    </div>
    <div>
      <p class="fw-600 product-heading">Purevitr Chia Seeds</p>
      <p class="product-description">Raw Chia Seeds for Eating | Protein Rick Superfood | Immunity Booster, High in Calcium, Fiber & Antioxidant | Healthy Snacks | No Preservatives</p>
      <div class="d-flex gap-3">
        <p class="mt-4 text-xs">Placed on: 30 Aug, 2025</p>
        <p class="mt-4 text-xs">Quantity: 1</p>
      </div>
      <h5 class="text__primary m-0 fw-600">2000/-</h5>
    </div>
  </div>
</div>