<div>
  <div class="account_info-container">
    <div class="row mb-4">
      <app-input
        [control]="utilityService.$formControl(profileForm.get('firstName'))"
        label="First Name"
        type="text"
        placeholder="Enter First Name"
        class="col-md-6"
      ></app-input>
      <app-input
        [control]="utilityService.$formControl(profileForm.get('firstName'))"
        label="Last Name"
        type="text"
        placeholder="Enter First Name"
        class="col-md-6"
      ></app-input>
    </div>
    <div class="row mb-4">
      <app-input
        [control]="utilityService.$formControl(profileForm.get('firstName'))"
        label="Email"
        type="text"
        placeholder="Enter First Name"
        class="col-md-6"
      ></app-input>
      <app-input
        [control]="utilityService.$formControl(profileForm.get('firstName'))"
        label="Contact"
        type="text"
        placeholder="Enter First Name"
        class="col-md-6"
      ></app-input>
    </div>
    <app-input
    [control]="utilityService.$formControl(profileForm.get('firstName'))"
    label="Contact"
    type="text"
    placeholder="Enter First Name"
    class="col-md-6"
  ></app-input>
  <app-input
  [control]="utilityService.$formControl(profileForm.get('firstName'))"
  label="Contact"
  type="text"
  placeholder="Enter First Name"
  class="col-md-6"
></app-input>
<app-input
[control]="utilityService.$formControl(profileForm.get('firstName'))"
label="Contact"
type="text"
placeholder="Enter First Name"
class="col-md-6"
></app-input>
<app-input
[control]="utilityService.$formControl(profileForm.get('firstName'))"
label="Contact"
type="text"
placeholder="Enter First Name"
class="col-md-6"
></app-input>
<app-input
[control]="utilityService.$formControl(profileForm.get('firstName'))"
label="Contact"
type="text"
placeholder="Enter First Name"
class="col-md-6"
></app-input>
<app-input
[control]="utilityService.$formControl(profileForm.get('firstName'))"
label="Contact"
type="text"
placeholder="Enter First Name"
class="col-md-6"
></app-input>
<app-input
[control]="utilityService.$formControl(profileForm.get('firstName'))"
label="Contact"
type="text"
placeholder="Enter First Name"
class="col-md-6"
></app-input>
<app-input
[control]="utilityService.$formControl(profileForm.get('firstName'))"
label="Contact"
type="text"
placeholder="Enter First Name"
class="col-md-6"
></app-input>
<app-input
[control]="utilityService.$formControl(profileForm.get('firstName'))"
label="Contact"
type="text"
placeholder="Enter First Name"
class="col-md-6"
></app-input>


    <div>
      <p>Default Address</p>
      <div>
        address
      </div>
    </div>
    
  </div>
</div>