<div>
  <div class="row row-gap-3">
    <app-input
      [control]="utilityService.$formControl(passwordForm.get('password'))"
      label="Current Password"
      placeholder="Enter Current Password"
    ></app-input>
    <app-input
      [control]="utilityService.$formControl(passwordForm.get('password'))"
      label="New Password"
      placeholder="Enter New Password"
    ></app-input>
    <app-input
      [control]="utilityService.$formControl(passwordForm.get('password'))"
      label="Confirm New Password"
      placeholder="Confirm New Password"
    ></app-input>
  </div>
  <button class=" mt-4 btn btn-primary">Save</button>
</div>