<div class="form-group">
  <label *ngIf="label">
    {{ label }} <span *ngIf="required" class="text-danger">*</span>
  </label>

  <div class="input-icon-wrapper position-relative">

    <mat-date-range-input
      class="date-range-input form-control input-with-icon"
      [max]="maxDate ?? null"
      [rangePicker]="rangePicker"
      [dateFilter]="dateFilter">

      <input
        readonly
        matStartDate
        [formControl]="startDateControl"
        [required]="required"
        placeholder="Start date"
        (click)="openRangePicker()"
      />
      <input
        readonly
        matEndDate
        [formControl]="endDateControl"
        placeholder="End date"
        (click)="openRangePicker()"
      />
    </mat-date-range-input>

    <mat-icon class="calendar-icon">calendar_today</mat-icon>
  
    <mat-date-range-picker
      (closed)="closeRangePicker()"
      #rangePicker
    ></mat-date-range-picker>
  </div>
  <div *ngIf="startDateControl.errors && startDateControl.touched" class="text-danger">
    <ng-container *ngIf="startDateControl.errors?.['required']">This field is required.</ng-container>
  </div>
  <div *ngIf="endDateControl && endDateControl.touched" class="text-danger">
    <ng-container *ngIf="startDateControl.errors?.['required']">This field is required.</ng-container>
  </div>
</div>
