@import '../../../../variables.scss';
@import '../../../../mixins.scss';

.container {
  // background-color: map-get($colors,"primary-light-bg" );
  // min-height: 100vh;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo-image {
    border-radius: 50%;
    
  }

  .login-container {
    // max-width: 500px;
    // padding: 2rem;
    // border: 1px solid #ddd;
    // border-radius: 5px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
  
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: #333;
    }



}  
}