@import '../../../../variables.scss';

.profile-container {
  
  padding: 4rem 1rem;


  .logo-image {
    border-radius: 50%;
    
  }


  & .profile {
    margin: 1rem 0;
    &.__left-section {
      // margin: 0 1rem;
    }
  }

  .profile-btn {
    padding: 1rem 2rem;
    background-color: map-get($colors, "primary-light-bg" );
    color: map-get($colors, "white");
    font-size: large;
    font-weight: 600;
    
    &.selected-category {
      background-color: map-get($colors, "primary");
    }
  }

}