@import '../../../../variables.scss';

.profile-container {
  
  padding: 4rem 1rem;


  .logo-image {
    border-radius: 50%;
  }


  & .profile {
    margin: 1rem 0;
    &.__left-section {
      position: sticky;
      top: 150px;
      height: fit-content;
      overflow: hidden;
    }
    
    &.__right-section {
      border-left: 1px solid map-get($colors, "primary");
      // overflow-y: auto;
      // height: 500px;

    }
  }

  .profile-btn {
    padding: 1rem 2rem;
    color: map-get($colors, "primary-light-bg");
    font-size: large;
    font-weight: 600;
    cursor: pointer;

    &.selected-category {
      border-left: 5px solid map-get($colors, "primary");
      color: map-get($colors, "primary");
    }

    &:hover {
      color: map-get($colors, "primary");
      transition: all ease-in-out 0.3s;
    }
  }

}